
/** Imperial Red **/
.font-imperial-red {
    color: #E63946;
}

.background-imperial-red {
    background-color: #E63946;
}

/** Honeydew **/
.font-honeydew {
    color: #F1FAEE;
}

.background-honeydew {
    background-color: #F1FAEE;
}

/** Powder Blue**/
.font-powder-blue {
    color: #A8DADC;
}

.background-powder-blue {
    background-color: #A8DADC;
}

/** Celadon Blue **/
.font-celadon-blue {
    color: #457B9D;
}

.background-celadon-blue {
    background-color: #457B9D;
}

/** Prussian Blue **/
.font-prussian-blue {
    color: #1D3557;
}

.background-prussian-blue {
    background-color: #1D3557;
}